*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* praimary  */
.praimerCol{
  color: rgba(170, 170, 170, 1);
}

/* .praimerBgCol{
  background-color: #aaaaaa;
} */

.praimerBTN{
  color: #ffffff;
  background-color: #E02C6D;
  padding: 10px 24px;
  border: none;
}

header, main{
  max-width: 1200px;
  margin: 0 auto;
}

.flex{
  display: flex;
}


/* header style start  */
.nav_area{
  justify-content: space-between;
  align-items: center;
  margin: 5.43rem 0;
}

.logo h3{
  font-size: 1.5rem;
  color: #3a3a3a;
  font-weight: 800;
}

.itmes ul li{
  list-style: none;
}

.itmes ul li a{
  text-decoration: none;
  color: #3A3A3A;
  margin-right: 34px;
  font-size: 1rem;
  font-weight: 600;
}

.nav_icones i{
  margin-right: 34px;
}


/* bannar style start  */
.bannerSec{
  justify-content:space-between;
  align-items: center;
}
.bannerText{
  max-width: 580px;
}

.bannerText h1{
  font-size: 3.25rem;
  font-weight: 800;
  color: #3A3A3A;
  margin-bottom: 16px;
}

.bannerText p{
  font-size: 1rem;
  font-weight: 400;
  margin-bottom: 16px;
}

.bannerText button{
  border-radius: 41px;
}

.bannerImg img{
  width: 440px;
  background: url(./images/Circle\ design.svg);
  background-repeat: no-repeat;
  background-position: center;

}

.brands{
  margin: 100px 0px;
  padding: 36px 60px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

.brands img{
  padding-right: 60px;
}
  /* responsive */
@media screen and (max-width:576px) {
  .nav_area ,.itmes,.itmes ul,
  .bannerSec  {
    flex-direction: column;
  }

  .bannerSec{
    flex-direction: column-reverse;
  }
  .bannerText{
    max-width: 400px;
    text-align: center;
  }
  .bannerImg img{
    width: 257px;
  }
  .brands img{
    padding-right: 10px;
  }
}


/* main start style  */

/* Popular Section start   */
.popularSec{
  margin-top: 100px;
  padding-bottom: 50px;
}
.popularSec h2{
  font-size: 1.75rem;
  color: #3A3A3A;
  text-align: center;
  margin-bottom: 30px;
}

.populCards{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  row-gap: 30px;
}

.card{
  background-color:#ffffff;
  width: 330px;
  padding: 15px;
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.cardImg{
  width: 300px;
  border-radius: 5px;
  margin-bottom: 16px;
}

.card h3{
  font-size: 1.75rem;
  width: 400;
  color: #18191F;
  margin-bottom: 16px;
}
.card h5{
  font-size: 1.5rem;
  color: rgba(0, 0, 0, 0.87);
  margin-bottom: 16px;
}

.rating p {
  font-size: 0.87rem;
  color: #5E6366;
  margin-left: 10px;
}

.cardP{  
  margin-top: 16px;
  font-size: 0.87rem;
  color: #5E6366;
  width: 190px;
}
.popularBTN{
  color: #E02C6D;
  border: none;
  margin-top: 10px;
  background-color: none;
}
.btn{
  flex-direction: column-reverse;
}

  /* responsive main  */
  @media screen and (max-width:576px) {
    .populCards {
      grid-template-columns: repeat(1, 1fr);
      justify-items: center;
    }
  }